<!--Select types of the T-Shirts-->
<div class="well">
  <h4>Campaign title</h4>

  <input id="campaignTitleInput" ng-model="campaignTitle">
  <h6>Summarize your campaign in 40 characters or less</h6>

  <hr/>
  <h4>Description</h4>
  <text-angular ng-model="campaignDescription"></text-angular>

  <hr/>

  <h4>Set price</h4>
  <p>Set the selling price of your shirt to determine your profit</p>
  SEK <input id="priceOfTshirtInput" ng-model="priceOfTshirt">
  <span class="priceTag"><span id="profitPerTshirt">24</span> SEK profit/sale</span>

  <hr/>

  <a href="#details" type="button" class="btn btn-lg btn-block btn-success"
     name="designNextStep" id="designNextStep">Next step
    <i class="glyphicon glyphicon-chevron-right glyphicon-white"></i>
  </a>
</div>

