<!--Select types of the T-Shirts-->
<div class="well">
  <h4>Campaign title</h4>

  <input id="campaignTitleInput" ng-model="campaignTitle">
  <h6>Summarize your campaign in 40 characters or less</h6>

  <hr/>
  <h4>Description</h4>
  <text-angular
     ta-toolbar="[['bold','italics', 'underline'], ['insertLink', 'insertImage']]"
     ng-model="campaignDescription">
  </text-angular>

  <hr/>

  <h4>Campaign length</h4>
  <select class="font-family-picker form-control"
          ng-init="currentCampaignLength=campaignLengths[2]"
          ng-model="currentCampaignLength"
          ng-options="campaignLength for campaignLength in campaignLengths">
  </select>

  <hr/>

  <h4>Choose a URL</h4>

  <hr/>

  <h4>Shipping options</h4>

  <hr/>

  <p>I have read and agreed to the terms of service (TOS) and can
  confirm that the images, slogans, and content used in my campaign
  do not infringe upon the rights of any third party.</p>

  <a href="#details" type="button" class="btn btn-lg btn-block btn-success"
     name="designNextStep" id="designNextStep">Launch your campaign
    <i class="glyphicon glyphicon-chevron-right glyphicon-white"></i>
  </a>
</div>

