<!-- Headings & Paragraph Copy -->
<div class="span3">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">T-Shirt Options</a></li>
      <li><a href="#tab2" data-toggle="tab">Gravatar</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="well">
          <!--Select types of the T-Shirts-->
          <select ng-init="currentTshirtType=tshirtTypes[0]"
                  ng-model="currentTshirtType"
                  ng-options="tshirtType.name for tshirtType in tshirtTypes">
          </select>
        </div>

        <div class="well">
          <bg-color-picker colors="colors"></bg-color-picker>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="well">
          <text-input></text-input>
          <image-picker images="images"></image-picker>
        </div>
      </div>
    </div>
  </div>
</div>

<!--text editor?-->
<div class="span6">
  <div align="center" style="min-height: 32px;">
    <div class="clearfix">
      <text-editor fonts="fonts"></text-editor>
      <image-editor></image-editor>
    </div>
  </div>

  <t-shirt-canvas></t-shirt-canvas>
</div>
