<div class="container">
  <section id="typography">
    <div class="page-header">
      <h1>Design Your Own T-Shirts</h1>
    </div>

    <div class="row">

      <div class="col-lg-3">
        <md-tshirt-goodies-panel colors="colors" images="images" tshirttypes="tshirtTypes" fonts="fonts"></md-tshirt-goodies-panel>
      </div>

      <div class="col-lg-6">
        <md-canvas-obj-trash></md-canvas-obj-trash>
        <md-tshirt-canvas></md-tshirt-canvas>
      </div>

      <div class="col-lg-3">
        <md-checkout-panel></md-checkout-panel>
      </div>

    </div>
  </section>
</div>
