<div class="container">
  <section id="typography">
    <div class="page-header">
      <h1>Design Your Own T-Shirts</h1>
    </div>

    <div class="row">

      <div class="col-lg-3">
        <tshirt-goodies-panel colors="colors" images="images" tshirttypes="tshirtTypes" fonts="fonts"></tshirt-goodies-panel>
      </div>

      <div class="col-lg-6">
        <tshirt-design-assistant></tshirt-design-assistant>
        <tshirt-canvas></tshirt-canvas>
      </div>

      <div class="col-lg-3">
        <checkout-panel></checkout-panel>
      </div>

    </div>
  </section>
</div>
