<!-- Headings & Paragraph Copy -->
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#text-pane" data-toggle="tab" class="tab-link">Add Text</a></li>
    <li><a href="#art-pane" data-toggle="tab" class="tab-link">Add/upload art</a></li>
  </ul>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" id="text-pane">
      <div class="well">
        <text-input fonts="fonts"></text-input>
      </div>
    </div>
    <div class="tab-pane" id="art-pane">
      <div class="well">
        <image-picker images="images" popover="<image-page images='images'></image-page>"></image-picker>
        <hr class="divider">Or upload your own images.<hr class="divider">
        <button class="btn btn-default">Upload your own</button>
      </div>
    </div>
  </div>
</div>
