<div class="well">
  <h3>Style & quality</h3>
  <!--Select types of the T-Shirts-->
  <select ng-init="currentTshirtType=tshirtTypes[0]"
          ng-model="currentTshirtType"
          ng-options="tshirtType.name for tshirtType in tshirtTypes"
          class="form-control">
  </select>

  <br>

  <ul class="list-group">
    <a class="list-group-item" ng-repeat="variant in currentTshirtType.variants">
      {{variant.name}}
      <br>
      <small>{{variant.description}}</small>
    </a>
  </ul>

  <h5>Base cost @ 50 shirts</h5>
  <h3>{{ baseCost }} SEK</h3>
  <button type="button" class="btn btn-lg btn-block btn-success"
          name="designNextStep" id="designNextStep">Next step
    <i class="glyphicon glyphicon-chevron-right glyphicon-white"></i>
  </button>
</div>
